#main-region.container
  %p
    Here is static content in the web page. You'll notice that it gets
    replaced by our app as soon as we start it

.modal
  .modal-dialog
    .modal-content
      #dialog-region.modal-body
